.sidebar {
  width: 200px;
  grid-area: sidebar;
  border-right: 2px solid var(--color-border);
  padding: 20px 10px;

}

.logo {
  width: 100%;
  margin-bottom: 20px;
  opacity: 0.3;
  transition: opacity var(--transition-fast);

  &:hover {
    opacity: 0.6;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--color-text);
  padding: 5px 10px;
  border-radius: var(--border-radius);

  &:hover {
    background: #ffffff1a;
    text-decoration: none;
    color: var(--color-text);
  }
}

.active {
  background: #ffffff0d;
}