.dashboardWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 40px;

  .cardList {
    display: flex;
    gap: 40px;

    .card {
      flex: 1;
      padding: 30px;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      border: 1px solid #575757;
      box-shadow: 0 10px 60px rgba(28, 27, 27, 0.6);
      background: #303030;

      h4 {
        font-size: 24px;
      }

      h2 {
        font-size: 48px;
      }
    }
  }

  @media (max-width: 700px) {
    .cardList {
      flex-direction: column;
    }

    .chartWrapper {
      display: none;
    }
  }
}