.employeesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;

  .employeeItem {
    min-height: 300px;
    height: max-content;
    padding: 24px;
    border-radius: 20px;
    background: var(--color-block-bg);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1),
    0 3px 5px 0 rgba(0, 0, 0, 0.1);

    .row {
      display: flex;
      justify-content: space-between;
    }

    .icon {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      border-radius: 50%;
      background: var(--color-block-bg2);
    }

    .employeeInfo {
      h3 {
        font-size: 20px;
        color: var(--color-text);
        margin-bottom: 5px;
      }

      p {
        color: var(--color-muted-text);
      }
    }

    .commission {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--color-muted-text);
      border-bottom: 1px solid var(--color-border);
      padding-bottom: 10px;

      span {
        font-weight: 600;
        color: var(--color-text);
      }
    }

    .total {
      flex: 1;
      display: flex;
      flex-direction: column;

      p {
        color: var(--color-muted-text);
      }

      &:last-child {
        text-align: right;
      }
    }

    .balance {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      background: var(--color-block-bg2);

      p {
        color: var(--color-muted-text);
      }
    }

    .history {
      display: flex;
      flex-direction: column;

      .historyBtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        i {
          transition: transform .2s;
          color: var(--color-muted-text);
        }
      }

      .payoutsList {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0 0 0;
        max-height: 0;
        overflow: hidden;
        transition: .2s;

        p {
          color: var(--color-muted-text);
        }

        div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            color: var(--color-success);
          }
        }
      }


      &.historyOpened {
        .historyBtn {
          i {
            transform: rotate(180deg);
          }
        }

        .payoutsList {
          max-height: 300px;
          overflow: auto;
        }
      }
    }

    .actions {
      position: absolute;
      right: 10px;
      top: 20px;
      display: flex;
      gap: 10px;
      opacity: 0;
      transition: opacity .2s;
    }

    &:hover {
      .actions {
        opacity: 1;
      }
    }

    .loader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 20px;

      svg {
        width: 100px;
      }
    }

    &.skeleton {
      .icon,
      .employeeInfo h3,
      .employeeInfo p,
      .commission {
        display: block;
        background: linear-gradient(
                        90deg,
                        #757575 25%,
                        #3e3e3e 37%,
                        #6a6a6a 63%
        );
        background-size: 400% 100%;
        animation: shimmer 1.4s ease infinite;
      }

      .employeeInfo h3 {
        width: 100px;
        height: 20px;
        border-radius: 4px;
      }

      .commission {
        height: 16px;
        border-radius: 4px;
      }
    }
  }

  .addEmployee {
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-size: 24px;
    font-weight: 600;
    transition: all .2s;

    svg {
      width: 60px;
    }

    &:hover {
      transform: translateY(-2px);

      box-shadow:
              0 8px 25px rgba(0, 0, 0, 0.15),
              0 4px 10px rgba(0, 0, 0, 0.12);
    }
  }

  @media (max-width: 700px) {
    .employeeItem {
      .actions {
        opacity: 1;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
