.modal {
  width: 60vw;
  min-height: 400px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;

  .modalHeader {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 18px;
      margin: 0;
      color: #f2f2f2;
    }

    p {
      font-size: 14px;
      margin: 0;
      color: #a1a1aa;
      font-weight: 400;
    }
  }

  .modalBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow: hidden;

    .tableContainer {
      min-height: 200px;
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }

    .vehicle {
      display: flex;
      align-items: center;
      gap: 10px;

      div {
        border: 1px solid var(--color-border);
        border-radius: 10px;
        padding: 5px 10px;
      }
    }

    .commission {
      font-weight: 600;
      color: #f2f2f2;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  .totalContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #412d7a;
    padding: 20px;
    background: rgba(103, 72, 189, 0.05);

    p {
      color: #919191;

      span {
        color: #f2f2f2;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: auto 0 0 0;
  }
}