.modal {
  max-width: 1200px;
  min-height: 400px;
  max-height: 85vh;
  display: flex;
  flex-direction: column;

  .modalHeader {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 18px;
      margin: 0;
      color: #f2f2f2;
    }

    p {
      font-size: 14px;
      margin: 0;
      color: #a1a1aa;
      font-weight: 400;
    }
  }

  .modalBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow: hidden;

    .tableContainer {
      min-height: 200px;
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .expandedContainer {
        max-height: 30vh;
        overflow: hidden;
        position: relative;
        display: flex;

        & > div {
          max-height: 100%;
        }
      }
    }

    .vehicle {
      display: flex;
      align-items: center;
      gap: 10px;

      div {
        border: 1px solid var(--color-border);
        border-radius: 10px;
        padding: 5px 10px;
      }
    }

    .commission {
      font-weight: 600;
      color: #f2f2f2;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: auto 0 0 0;
  }
}