.vehicleWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.groupTitle {
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  button {
    padding: 10px 10px;

    svg {
      width: 18px;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  gap: 20px;

  div {
    flex: 1;
  }
}

.autocompleteList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: auto;
  background: #303030;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background: #474747;
    }
  }
}