.vehicleWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupTitle {
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
  padding: 10px 0;
  margin: 10px 0 0 0;

  button {
    padding: 10px 10px;

    svg {
      width: 18px;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  gap: 10px;

  div {
    flex: 1;
  }
}