.vehicleWrap {
  border-radius: 20px;
  border: 1px solid #575757;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(0, 0, 0, 0.3);
  position: relative;

  .deleteBtn {
    position: absolute;
    right: 10px;
    top: 5px;
    opacity: 0;
    transition: opacity .2s;
    z-index: 111;
  }

  &:hover {
    .deleteBtn {
      opacity: 1;
    }
  }
}

.groupTitle {
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  button {
    padding: 10px 10px;

    svg {
      width: 18px;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  gap: 10px;

  div {
    flex: 1;
  }
}

.autocompleteList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: auto;
  background: #303030;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background: #474747;
    }
  }
}