.heading {
  display: flex;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hr {
    flex: 1;
    height: 1px;
    background: var(--color-border);
    margin: 0 20px;
  }

  .btn {
    min-width: max-content;
  }
}

