.heading {
  display: flex;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hr {
    flex: 1;
    height: 1px;
    background: var(--color-border);
    margin: 0 20px;
  }

  .btn {
    min-width: max-content;
  }

  @media(max-width: 700px) {
    .title {
      font-size: 26px;
    }

    .btn {
      svg {
        display: none;
      }
    }
  }
}

