:root[data-theme='dark'] {
  --color-main-bg: rgb(39, 39, 42);
  --color-block-bg: rgb(126, 126, 126, 0.1);
  --color-block-bg2: rgb(65, 65, 65);
  //--color-block-bg2: rgb(126, 126, 126, 0.2);
  --color-block-bg3: rgb(23, 23, 23);

  --color-text: #ededed;
  --color-muted-text: rgb(161, 161, 170);

  --color-border: rgba(255, 255, 255, 0.1);

  --color-field-border: rgba(255, 255, 255, 0.1);
  --color-field-hover-border: rgba(255, 255, 255, 0.3);
  --color-field-active-border: rgba(255, 255, 255, 0.5);
  --disabled-field-bg: #272727;

  --color-modal-bg: #1f1f20;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, .4);
}