:root[data-theme='light'] {
  --color-main-bg: oklch(98.5% 0.002 247.839);
  --color-block-bg: rgb(255, 255, 255);
  --color-block-bg2: rgb(232, 232, 232);
  //--color-block-bg2: rgba(64, 64, 64, 0.1);
  --color-block-bg3: rgba(64, 64, 64, 0.3);

  --color-text: #111111;
  --color-muted-text: #64748B;

  --color-border: rgb(226, 232, 240);

  --color-field-border: rgba(0, 0, 0, 0.3);
  --color-field-hover-border: rgba(0, 0, 0, 0.6);
  --color-field-active-border: rgba(0, 0, 0, 0.8);
  --disabled-field-bg: rgba(0, 0, 0, 0.1);

  --color-modal-bg: rgb(255, 255, 255);

  --shadow-sm: 0 1px 2px rgba(0,0,0,.05);
}