:root {
  // Typography
  --font-family-base: 'Inter', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;

  // Colors
  --color-bg: #121018;
  --color-surface: #1a1623;
  --color-text: #e0e0e0;
  --color-muted: #878787;
  --color-primary: #6748bd;
  --color-primary-hover: #54368f;
  --color-border: rgba(255, 255, 255, 0.1);
  --color-error: #e74c3c;
  --color-success: #5aae61;
  --color-bg-hover-default-btn: hsla(0, 0%, 66%, 0.08);

  // UI
  --border-radius: 10px;
  --transition-fast: 0.2s ease-in-out;
}
