.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .commissionDescriptions {
    margin: -10px 0 0 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 20px 0 0 0;
  }
}