.sidebar {
  width: 230px;
  grid-area: sidebar;
  border-right: 2px solid var(--color-border);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  background: var(--color-block-bg);

  .logo {
    width: 100%;
    margin-bottom: 20px;
    opacity: 0.5;
    transition: opacity var(--transition-fast);
    display: flex;
    justify-content: center;
    color: #7c4dff;
    font-size: 36px;

    span {
      color: #000;
    }

    img {
      width: 100%;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .burger {
    display: none;
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--color-muted-text);
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    position: relative;

    .icon {
      display: flex;
      min-width: 20px;

      svg {
        width: 18px;
      }
    }

    &.active {
      background: var(--color-block-bg);
      color: var(--color-text);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    }

    &:hover {
      background: var(--color-block-bg2);
      text-decoration: none;
      color: var(--color-text);
    }
  }


  .footer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto 0 0 0;

    .toggle {
      width: 46px;
      height: 46px;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      border: 1px solid var(--color-border);

      &:hover {
        background: #ffffff1a;
        color: var(--color-text);
      }
    }

    .logout {
      flex: 1;
      cursor: pointer;
      border: 1px solid var(--color-border);
    }
  }

  @media(max-width: 700px) {
    width: 100%;
    height: 60px;
    border: 0;
    border-bottom: 1px solid var(--color-border);
    flex-direction: row;
    align-items: center;
    padding: 3px 10px;

    .logo {
      height: 100%;
      width: max-content;
      margin: 0;

    }

    .burger {
      display: flex;
      margin: 0 0 0 auto;
    }

    .link {
      padding: 10px;
    }

    .container {
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      background: var(--color-modal-bg);
      z-index: 11;
      padding: 20px;
      display: none;

      &.opened {
        display: flex;
      }
    }


    .footer {
      .toggle {
        width: 44px;
        height: 44px;
      }
    }
  }
}
