.tableWrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  .searchBar {
    width: 100%;
    margin-bottom: 20px;
  }
}

.table {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: var(--color-text);

  .center {
    justify-content: center;
  }
}

.thead {
  min-width: 100%;
  width: max-content;
  height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: 500;
  font-size: 0.875rem;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-block-bg2);
  color: var(--color-text);
  position: sticky;
  top: 0;
  z-index: 1;

  &.expandableThead {
    padding-left: 30px;
  }
}

.tbody {
  min-width: 100%;
  width: max-content;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--color-block-bg);
}

.trow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);

  &.isExpanded {
    .arrow {
      svg {
        transform: rotate(90deg);
      }
    }
  }

  &.canExpand {
    cursor: pointer;
  }

  .arrow {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: var(--color-table-row-hover);
  }
}

.expandedRow {
  padding: 20px 40px;
  border-bottom: 1px solid var(--color-border);
}

.th,
.td {
  padding: 5px 12px;

  &:last-child {
    width: 120px;
    gap: 10px;
  }

  &.center {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
    text-align: right;
  }
}

.th {
  flex: 1;
  padding: 15px 12px;
  position: relative;

  &::after {
    content: '';
    width: 1px;
    height: 60%;
    background: var(--color-border);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto 0;
  }

  &:last-child::after {
    display: none;
  }
}

.td {
  flex: 1;
}

.emptyRow {
  text-align: center;
  color: #9ca3af;
  font-style: italic;
  padding: 16px;
  margin: auto 0;
  font-size: 20px;
}

.actionsCol {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  margin: auto;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  svg {
    width: 100px;
  }
}

.pagination {
  padding: 20px;
}