.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .generalInfo {
    display: flex;
    gap: 20px;
    background: var(--color-block-bg3);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 11;

    .clientRow {
      display: flex;
      align-items: flex-end;
      gap: 10px;
      position: relative;

      & > div {
        flex: 1;
      }

      button {
        width: 38px;
        height: 38px;
        position: absolute;
        right: 0;
        z-index: 11;
        border-right: 0;
        border-top: 0;
        border-bottom: 0;

      }
    }

    & > div {
      flex: 1;

      &:last-of-type {
        max-width: 150px;
      }
    }
  }

  .col {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .section {
    .sectionHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      h3 {
        margin-bottom: 0;
      }

      .employee {
        flex-direction: row;
        align-items: center;
        gap: 20px;
      }
    }

    h3 {
      margin-bottom: 20px;
    }

    .dynamicRow {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      padding: 5px;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      & > div {
        flex: 1;
      }

      .rowIndex {
        max-width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }

      .employee,
      .materialCount {
        width: 200px;
        max-width: 200px;
        border-left: 1px solid #fff;
      }

      .materialCount {
        width: 100px;
        max-width: 100px;
      }


      .priceContainer {
        max-width: 100px;
        border-left: 1px solid #fff;
        padding-left: 10px;
        position: relative;

        .price {
          input {
            padding-right: 25px;
          }
        }

        p {
          position: absolute;
          right: 10px;
          top: 0;
          bottom: 0;
          margin: auto 0;
          color: rgba(255, 255, 255, 0.3);
        }
      }

      .delete {
        width: 30px;
        height: 30px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      input {
        background: transparent;
        border: 0;
        padding: 5px 10px;

        &:hover {
          //background: #303030;
        }
      }

      &:hover {
        background: var(--color-block-bg3);

        .delete {
          opacity: 1;
        }
      }
    }

    .totalRow {
      display: flex;
      align-items: center;
      border-top: 1px dashed var(--color-border);
      padding: 10px 0 0 0;

      button {
        padding: 5px 10px;
        margin: 0 auto 0 0;
      }

      p {
        text-align: right;
        width: 100px;
        margin: 0 0 0 10px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: auto 0 0 0;
    padding: 20px;
    position: sticky;
    bottom: 0;
    background: var(--color-modal-bg);

    h3 {
      margin: 0 auto 0 0;
    }
  }

  @media(max-width: 700px) {
    .generalInfo {
      flex-direction: column;
      gap: 5px;
      position: inherit;

      & > div:last-child {
        max-width: 100%;
      }
    }

    .totalRow {
      flex-wrap: wrap;

      button {
        width: 100%;
        margin-bottom: 10px !important;
      }
    }

    .actions {
      flex-wrap: wrap;

      h3 {
        width: 100%;
        margin-bottom: 10px;
        display: flex;

        span {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}