.modal {
  max-width: 600px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 50px 60px;

  svg {
    width: 100px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 20px 0 0 0;
  padding: 20px;
}