.searchBar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.field {
  width: 100%;
}

.btn {
  position: absolute;
  right: 0;
  padding: 0 10px !important;
  height: 100%;
  gap: 10px;
}