.landing-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: auto;

  .navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(12px);
    background-color: oklab(0.274725 0.00165351 -0.00571692 / 0.8);
    border-bottom: 1px solid rgb(61, 61, 66);
    z-index: 1111;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 64px;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }

    &__logo {
      font-size: 20px;
      font-weight: 600;

      span {
        color: #A1A1AA;
      }
    }

    &__links {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          color: #d6d4d4;
        }
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 60px);
    position: relative;
    padding: 20px 10px;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      background-image: url('/img/landing_bg.webp');
      background-position: center;
      background-size: cover;

      &__blur {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.96) 0%, rgba(18, 18, 18, .93) 50%, rgba(18, 18, 18, 0.99) 100%);
        z-index: 11;
      }
    }

    &__container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1200px;
      z-index: 11;
    }

    &__badge {
      margin: 0 auto 40px;
      padding: 5px 40px;
      background: oklab(0.984758 0.0000447929 0.0000196695 / 0.05);
      border: 1px solid oklab(0.984758 0.0000447929 0.0000196695 / 0.2);
      border-radius: 20px;
      font-size: 12px;
    }

    &__title {
      font-size: 72px;
      line-height: 86px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      margin-bottom: 40px;
    }

    &__description {
      max-width: 600px;
      font-size: 20px;
      text-align: center;
      color: rgb(161, 161, 170);
      margin: 0 auto 40px;
    }

    &__actions {
      display: flex;
      justify-content: center;
      gap: 20px;

      a {
        font-size: 18px;
        color: #18181B;
        background: #fff;
        border-radius: 10px;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: 600;
        transition: background .2s;

        &:hover {
          background: #f2f2f2;
        }
      }
    }

    @media (max-width: 708px) {
      min-height: initial;
      padding: 100px 20px;

      &__title {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }

  .features {
    padding: 90px 20px;
    display: flex;
    justify-content: center;

    &__container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;
      max-width: 1280px;
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      h2 {
        font-size: 32px;
        color: #fff;
      }

      p {
        color: rgb(161, 161, 170);
        font-size: 16px;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 20px;

      &__card {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        background: rgb(49, 49, 53);

        i {
          width: 48px;
          height: 48px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: oklab(0.984758 0.0000447929 0.0000196695 / 0.1);
          margin-bottom: 20px;

          svg {
            width: 24px;
          }
        }

        h4 {
          font-size: 20px;
          margin-bottom: 30px;
        }

        p {
          color: #A1A1AA;
          font-size: 16px;
        }
      }
    }

    @media (max-width: 708px) {
      padding: 40px 20px;
    }
  }

  footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #313135;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__logo {
      font-size: 30px;
      font-weight: 400;
    }

    p {
      color: #A1A1AA;
    }
  }
}