.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;

  .fieldContainer {
    position: relative;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--color-modal-bg);
    border: 1px solid #303030;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
    display: none;

    li {
      padding: 6px 10px;
      cursor: pointer;
      border-bottom: 1px solid #303030;
      font-size: 14px;

      &:hover {
        background-color: var(--color-block-bg2);
      }
    }

    &.open {
      display: block;
    }
  }
}



