.vehicles {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: var(--color-block-bg2);
}

.vehiclesBlock {
  display: flex;
  flex-direction: column;

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    button {
      padding: 5px 15px;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;

    .vehicleItem {
      padding: 10px 10px;
      border-radius: 10px;
      border: 1px solid var(--color-border);
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      color: var(--color-muted-text);
      font-size: 12px;

      .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-text);

        h4 {
          font-size: 14px;
        }

        span {
          padding: 5px 10px;
          border: 3px solid var(--color-block-bg);
          border-radius: 10px;
          font-weight: 600;
        }
      }

      .details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .vehicleLoader {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 20px;

        svg {
          height: 60%;
        }
      }

      .vehicleActions {
        display: flex;
        gap: 10px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        border: 0;
        opacity: 0;
        transition: opacity .2s;

        button {
          width: 30px;
          height: 30px;
        }
      }

      &:hover .vehicleActions {
        opacity: 1;
      }
    }
  }
}