.vehicles {
  display: flex;
  align-items: center;
  gap: 20px;
}

.vehiclesBlock {
  display: flex;
  flex-direction: column;

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    button {
      padding: 5px 15px;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .vehicleItem {
      padding: 10px 20px;
      border-radius: 20px;
      border: 1px solid var(--color-border);
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      color: var(--color-muted-text);
      font-size: 12px;

      .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-text);

        h4 {
          font-size: 14px;
        }

        span {
          padding: 5px 10px;
          border: 1px solid var(--color-block-bg);
          border-radius: 10px;
          font-weight: 600;
        }
      }

      .details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .deleteBtn {
        position: absolute;
        right: 5px;
        bottom: 5px;
        border: 0;
      }
    }
  }
}