.pagination {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  margin: auto 0 0 0;
}

.page {
  width: 34px;
  height: 34px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover:not(:disabled) {
    background-color: var(--color-bg-hover-default-btn);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.active {
  background-color: var(--color-primary);
  color: white;
  border-color: var(--color-primary);
}

.dots {
  padding: 0.4rem 0.7rem;
  color: #9ca3af;
  user-select: none;
}