.form {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  .col {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  .fieldsRow {
    width: 100%;
    display: flex;
    gap: 20px;

    & > div {

      flex: 1;
    }
  }

  .saveBtn {
    margin: auto 0 0 auto;
  }
}

.row {
  width: 100%;
  display: flex;
  gap: 20px;
}