.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .label {
    font-size: 14px;
    color: var(--color-text);
  }

  .inputInner {
    position: relative;
    display: flex;
    align-items: center;
  }

  .input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: var(--font-family-base);
    color: var(--color-text);
    background-color: var(--color-block-bg);
    border: 1px solid var(--color-field-border);
    border-radius: var(--border-radius);
    transition: all var(--transition-fast);
    outline: none;

    &:hover {
      border-color: var(--color-field-hover-border);
    }

    &:focus {
      border-color: var(--color-field-active-border);
    }

    &::placeholder {
      color: var(--color-muted);
    }

    &:disabled {
      background-color: var(--disabled-field-bg);
      cursor: not-allowed;
      color: var(--color-muted);

      &:hover {
        border-color: var(--color-border);
      }
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield; // Firefox
    }
  }

  .suffix {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgba(255, 255, 255, .3);
  }
}