.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .row {
    height: 100%;
    display: flex;
    padding: 20px 20px;
    gap: 20px;
    overflow: hidden;
    position: relative;

    .col {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .clientInfo, .commentBlock {
    border-radius: 20px;
    border: 1px solid #575757;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    h3 {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .vehiclesBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;

    h3 {
      display: flex;
      align-items: center;
      gap: 10px;
      position: sticky;
      top: 0;
      z-index: 11;
      background: var(--color-modal-bg);
      padding: 0 0 10px 0;
      margin-bottom: -10px;

      .addBtn {
        margin: 0 0 0 auto;
        padding: 5px 15px;
      }
    }
  }

  .actions {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }
}