.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  width: 100%;
  display: flex;
  gap: 10px;

  div {
    flex: 1;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 20px 0 0 0;
}